/*mise en place des media queries*/

/* tout smartphone portrait + petit smartphone paysage + petite tablette portrait*/

@media only screen and (max-width: 600px) 
{
    .header
    {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
        "logo . register"
        "nav nav nav"
        "paragraph1 paragraph1 paragraph1"
        "searchbar searchbar searchbar"
        "filter filter filter";
    }

    .logo, .register
    {
        display: flex;
        justify-content: space-around;
    }

    ul
    {
        justify-content: space-around;
    }

    .buttonresearch
    {
        min-width: 60px;
        max-width: 60px;
    }

    .research
    {
        display: none;
    }

    .search
    {
        display: initial;
    }

   
    .linknav
    {
        border-bottom: 3px solid #f2f2f2c5;
        width: 50%;
    }

    .linknav:hover
    {
        border-bottom: 3px #0065FC solid;
        border-top: none;
    }


}

/*moyen smartphone paysage + petite tablette portrait*/

@media only screen and (max-width: 650px) 
{
    #filters
    {
        width: 100%;
    }
}

/*grand smartphone paysage + moyenne tablette portrait + petite tablette paysage*/

@media only screen and (min-width: 651px) and (max-width: 925px) 
{

}

/*grande tablette portrait + moyenne tablette paysage*/

@media only screen and (min-width: 926px) and (max-width: 1000px) 
{

}

/*grande tablette portrait et paysage + ecran pc portable et macbook/air*/

@media only screen and (min-width: 1001px) and (max-width: 1440px) 
{

}