/*mise en place de la police*/

@font-face 
{
    font-family: "Raleway";
    src: url(Raleway-VariableFont_wght.ttf);
}

/*structuration du body*/

.container
{
    margin: 0;
    font-family: "Raleway", "Sans serif";
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3.3fr 0.55fr;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

.header
{
    display: grid;
    grid-template-columns: 0.2fr 2.9fr 1fr auto;
    grid-template-areas:
    "logo . nav register"
    "paragraph1 paragraph1 paragraph1 paragraph1"
    "searchbar searchbar searchbar searchbar"
    "filter filter filter filter";
}

.main
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1.75fr 1.45fr;
    grid-template-areas:
    "infos"
    "hostinglobal"
    "activities";
}

.hostinglobal
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "hosting mostpop";
}

/*Mise en place de grid-area sur les différents blocks de la page*/

.header
{
    grid-area: header;
    margin: auto;
}

.logo
{
    grid-area: logo;
    height: 90px;
    display: flex;
    place-items: center;
    justify-content: space-around;
    
}

.paragraph1
{
    grid-area: paragraph1;
    padding-right: 35px;
    padding-left: 35px;
}

.nav
{
    grid-area: nav;
    display: flex;
    align-items: center;
}

.register
{
    grid-area: register;
    padding-right: 35px;
    padding-left: 25px;
}

.searchbar
{
    grid-area: searchbar;
    padding-right: 35px;
    padding-left: 35px;
}

.filter
{
    grid-area: filter;
    padding-right: 35px;
    padding-left: 35px;
    display: flex;
    flex-wrap: wrap;
}

.main
{
    grid-area: main;
    margin: auto;
}

.infos
{
    grid-area: infos;
}

#hosting
{
    grid-area: hosting;
}

.hostinglobal
{
    grid-area: hostinglobal;
}

.mostpop
{
    grid-area: mostpop;
}

#actvities
{
    grid-area: activities;
}

.footer
{
    grid-area: footer;
}

#reservia
{
    width: 95px;
    padding-right: 25px;
    padding-left: 35px;
}

.register
{
    display: flex;
    place-items: center;
    font-weight: bold;
    color: #0065FC;
    text-decoration: none;
    
}

.linknav
{
    text-decoration: none;
    color: black;
    padding: 2.1rem;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

.linknav:hover
{
    text-decoration: solid;
    color: #0065FC;
    border-top: 3px #0065FC solid;
}

.linknav:focus
{
    text-decoration: solid;
    color: #0065FC;
    border-top: 6px #0065FC solid;
}

h1
{
    font-size: 30px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 0;
}

h2
{
    font-size: 16px;
}

.texth1
{
    margin-top: 5px;
}

.searchbar
{
    display: flex;
}

.mapmarker
{
    font-size: 18px;
}

.blockbar1
{
    min-width: 50px;
    min-height: 50px;
    background-color: #F2F2F2;
    display: flex;
    place-items: center;
    justify-content: space-around;
    border-radius: 15px 0 0 15px;
}

.blockbar2
{
    width: 235px;
    height: 48px;
    border: 1px #F2F2F2 solid; 
}

.searchtext
{
    border-style: none;
    width: 100%;
    height: 100%;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;

}

.blockbar3
{
    color: white;
    height: 50px;
    width: 135px;
    display: flex;
    font-weight: bold;
    justify-content: space-around;
    place-items: center;
}

.buttonresearch
{
    text-decoration: none;
    background-color: #0065FC;
    height: 50px;
    width: 135px;
    border-radius: 0 15px 15px 0;
}

.search
{
    display: none;
}

#filters
{
    margin-right: 30px;
    margin-bottom: 25px;
    margin-top: 0;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.filtersearch
{
    font-size: 16px;
    font-weight: 700;
}

.filter
{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.economic
{
    width: 180px;
    height: 56px;
    display: flex;
    place-items: center;
}

.moneybill
{
    font-size: 20px;
    color: #0065FC;
}

.blockmoney
{
    display: flex;
    place-items: center;
    justify-content: space-around;
    width: 56px;
    height: 56px;
    background-color: #DEEBFF;
    border-radius: 30px 30px 30px 30px;
    margin-right: 15px;
}

.buttoneco
{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: black;
    height: 51px;
    border: 2.5px #D9D9D9 solid;
    border-radius: 30px 30px 30px 30px;
    border-left: none;
    margin-right: 30px;
    margin-bottom: 25px;
}

.buttoneco:hover
{
    background-color: #F3F8FF;
    border-radius: 30px 30px 30px 30px;
    transform: scale(1.015);
}


.family
{
    width: 145px;
    height: 56px;
    display: flex;
    place-items: center;
    
}


.child
{
    font-size: 20px;
    color: #0065FC;
}

.blockfam
{
    display: flex;
    place-items: center;
    justify-content: space-around;
    width: 56px;
    height: 56px;
    background-color: #DEEBFF;
    border-radius: 30px 30px 30px 30px;
    margin-right: 15px;
}

.buttonfam
{
    width: 145px;
    height: 51px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    justify-content: space-around;
    border: 2.5px #D9D9D9 solid;
    border-radius: 30px 30px 30px 30px;
    border-left: none;
    margin-right: 30px;
    margin-bottom: 25px;
}

.buttonfam:hover
{
    background-color: #F3F8FF;
    border-radius: 30px 30px 30px 30px;
    transform: scale(1.015);   
}

.romantic
{
    width: 180px;
    height: 56px;
    display: flex;
    place-items: center;
}


.heart
{
    font-size: 20px;
    color: #0065FC;
}

.blockrom
{
    display: flex;
    place-items: center;
    justify-content: space-around;
    width: 56px;
    height: 56px;
    background-color: #DEEBFF;
    border-radius: 30px 30px 30px 30px;
    margin-right: 15px;
}

.buttonrom
{
    width: 180px;
    height: 51px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    justify-content: space-around;
    border: 2.5px #D9D9D9 solid;
    border-radius: 30px 30px 30px 30px;
    border-left: none;
    margin-right: 30px;
    margin-bottom: 25px;
}

.buttonrom:hover
{
    background-color: #F3F8FF;
    border-radius: 30px 30px 30px 30px;
    transform: scale(1.015);   
}

.animals
{
    width: 230px;
    height: 56px;
    display: flex;
    place-items: center;
}


.dog
{
    font-size: 20px;
    color: #0065FC;
}

.blockani
{
    display: flex;
    place-items: center;
    justify-content: space-around;
    width: 56px;
    height: 56px;
    background-color: #DEEBFF;
    border-radius: 30px 30px 30px 30px;
    margin-right: 15px;
}

.buttonani
{
    width: 230px;
    height: 51px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    justify-content: space-around;
    border: 2.5px #D9D9D9 solid;
    border-radius: 30px 30px 30px 30px;
    border-left: none;
    margin-right: 30px;
    margin-bottom: 25px;
}

.buttonani:hover
{
    background-color: #F3F8FF;
    border-radius: 30px 30px 30px 30px;
    transform: scale(1.015);   
}

.infos
{
    display: flex;
}

#infos
{
    width: 5px;
}